@import url("https://fonts.googleapis.com/css2?family=MADE+Outer+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "MADE Outer Sans", sans-serif;
  background-color: #000;
  color: #fff;
}

.s1 {
  height: 100vh;
  background-image: linear-gradient(to right, #000000 10%, #00000000 20%),
    url("homepage.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 37.5vw 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 229px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  padding-left: 75px;
}

.s1 div {
  padding: 229px;
  font-size: 52px;
  font-weight: 500;
  width: 668px;
  height: 143px;
}

.s1 button {
  width: 177px;
  height: 52px;
  padding: 16px 51px 16px 50px;
  margin-top: 60px;
  border-radius: 30px;
  background: #faff00;
}

.s2 {
  /* width: 100%; */
  height: 100vh;
  padding: 0 50px;
}
h2 {
  margin-bottom: 120px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}
.card {
  display: flex;
  align-items: center;
}
.card-text {
  margin-left: 16px;
  /* width: 24rem; */
}
.card-para {
  margin-top: 4px;
  font-size: 14px;
  /* width: 24rem; */
}
.reason-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-direction: column;
}
.card-row-1 {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}
.card-row-2 {
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}
.section-3 {
  height: 100vh;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 30px;
  flex-wrap: wrap;
}
.box-1 {
  width: 20rem;
  background-color: orange;
  height: 30vh;
}
.box-2 {
  width: 20rem;
  background-color: pink;
  height: 30vh;
}
.box-3 {
  width: 20rem;
  background-color: blue;
  height: 30vh;
}
@media screen and (max-width: 768px) {
  .s1 div {
    padding: 40px;
    width: 100%;
    margin-top: 10rem;
  }
  nav ul {
    display: none;
  }
  h1 {
    font-size: 40px;
  }
  header {
    padding: 40px;
  }
}
