@import url("https://fonts.googleapis.com/css2?family=MADE+Outer+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "MADE Outer Sans", sans-serif;
  background-color: #000;
  color: #fff;
}

.s1 {
  height: 100vh;
  background-image: linear-gradient(to right, #000000 10%, #00000000 20%),
    url("homepage.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 37.5vw 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 229px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  padding-left: 75px;
}

.s1 div {
  padding: 229px;
  font-size: 52px;
  font-weight: 500;
  width: 668px;
  height: 143px;
}

.s1 button {
  width: 177px;
  height: 52px;
  padding: 16px 51px 16px 50px;
  margin-top: 60px;
  border-radius: 30px;
  background: #faff00;
}

.s2 {
  height: 80%;
  padding: 150px 0;
  background-image: linear-gradient(to right, #000000 10%, #0000009f 50%),
    url("background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
h2 {
  margin-bottom: 120px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}
.card {
  display: flex;
  align-items: center;
  width: 200px;
}
.card-text {
  margin-left: 16px;
}

.card-para {
  margin-top: 4px;
  font-size: 14px;
}
.reason-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}
.card-row-1 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex-wrap: wrap;
}
.card-row-2 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .s1,
  .s2 {
    background-position: center;
    background-size: auto;
  }
  .s2 {
    height: 80vh;
    width: 100%;
    background-size: cover;
  }

  .s1 div {
    padding: 40px;
    width: 100%;
    margin-top: 10rem;
  }
  nav li {
    padding: 3px;
  }
  h1 {
    font-size: 60px;
  }
  header {
    padding: 40px;
    flex-direction: column;
  }
  li {
    display: flex;
  }
  header img {
    width: 60vw;
    margin-bottom: 5%;
  }
}
