@import url("https://fonts.cdnfonts.com/css/made-outer-sans-alt");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "MADE Outer Sans", sans-serif;
  color: #fff;
  background: #000;
  margin: 0 220px;
}

/* Navbar */
nav {
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-items {
  display: flex;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  list-style-type: none;
}

li {
  margin: 0px 60px;
}

/* Section */

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 220px;
}
.homepage-txt h1 {
  font-size: 64px;
  font-weight: 500;
  font-stretch: wider;
  width: 668px;
  height: 143px;
}
.homepage-btn {
  margin-top: 20px;
  padding: 16px 51px 16px 50px;
  border-radius: 30px;
  background: #faff00;
}
